<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=
    , initial-scale=1.0">
    <title>GET ADVICE</title>
    <link rel="stylesheet" href="/style/main.css">
</head>
<body>
    <h1>Guidance Gateway: Your Source for Expert Advice ❤️</h1>
    <div class="Advice">
      
        <form action="/search" method="post">
            <label for="search">Enter your query:</label><br>
            <input type="search" name="searchbar" class="form-control" placeholder="Search here   " aria-label="Search">
            <!-- <textarea id="search" name="query" rows="2" cols="20">Default value goes here</textarea><br> -->
            <input type="submit" value="Search">

        </form>
    </div>
    <div class="adviceinfo">
        <h1> <%= content %></h1>
       
    </div>
   
</body>
<footer><p>Copyright© 2024 <a target="_blank" href="https://www.linkedin.com/in/akshara-vootkuri-58a189271/">Akshara</a></p></footer>
</html>